<ns0:findCallerResponse xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ns0="http://x3FindCallerServices.findcaller.webservice.crm.crmphd.com">
    <Response>
        <customerInfo>
            <customerInfoX2>
                <customerId>55461855</customerId>
                <customerName>GIANCARLO PAUL TINOCO HINOSTROZA</customerName>
                <customerObjid>21182468</customerObjid>
                <customerSubTypeCode>RMV</customerSubTypeCode>
                <customerSubTypeTitle>Medio Valor</customerSubTypeTitle>
                <customerTypeCode>R</customerTypeCode>
                <customerTypeTitle>Residencial</customerTypeTitle>
                <isFWAAvailableX2>false</isFWAAvailableX2>
                <roleInfo>Titular</roleInfo>
                <rucDocId/>
                <rucDocType/>
            </customerInfoX2>
            <ownerContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleObjid>0</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </ownerContactInfoX2>
            <primaryContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleObjid>0</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </primaryContactInfoX2>
        </customerInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2>1010973048</accessIdX2>
                <addressIdX2>237913959</addressIdX2>
                <assignedBundleIDX2>108203631</assignedBundleIDX2>
                <bundleCatalogIDX2>58807765</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>TV</instanceNameX2>
                <lobCategoryCodeX2>TV</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>TV</lobCategoryDescriptionX2>
                <msisdn>5062328557</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2024-09-03T11:34:56</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>177886052</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>86916319</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2>1010973048</accessIdX2>
                <addressIdX2>237913959</addressIdX2>
                <assignedBundleIDX2>108203631</assignedBundleIDX2>
                <bundleCatalogIDX2>58807765</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Voz fija</instanceNameX2>
                <lobCategoryCodeX2>VOIC</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Voice</lobCategoryDescriptionX2>
                <msisdn>13951991</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2024-09-03T11:34:47</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>177886578</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>86914208</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2>1010973048</accessIdX2>
                <addressIdX2>237913959</addressIdX2>
                <assignedBundleIDX2>108203631</assignedBundleIDX2>
                <bundleCatalogIDX2>58807765</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Banda Ancha</instanceNameX2>
                <lobCategoryCodeX2>BB</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Internet</lobCategoryDescriptionX2>
                <msisdn>5010085989</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2024-09-03T11:34:50</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>177886789</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>86921480</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2/>
                <addressIdX2>237913959</addressIdX2>
                <assignedBundleIDX2>108203631</assignedBundleIDX2>
                <bundleCatalogIDX2>58807765</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Equipo Compartido</instanceNameX2>
                <lobCategoryCodeX2>ShEq</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Shared Equipment</lobCategoryDescriptionX2>
                <msisdn>9608883075</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2022-11-08T21:48:58</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>177886434</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>86921281</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
    </Response>
    <Response>
        <customerInfo>
            <billingContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Usuario</contactRoleName>
                <contactRoleObjid>0</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </billingContactInfoX2>
            <billingContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Autorizado</contactRoleName>
                <contactRoleObjid>0</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </billingContactInfoX2>
            <customerInfoX2>
                <customerId>58018107</customerId>
                <customerName>GIANCARLO PAUL TINOCO HINOSTROZA</customerName>
                <customerObjid>46503728</customerObjid>
                <customerSubTypeCode>RMV</customerSubTypeCode>
                <customerSubTypeTitle>Medio Valor</customerSubTypeTitle>
                <customerTypeCode>R</customerTypeCode>
                <customerTypeTitle>Residencial</customerTypeTitle>
                <isFWAAvailableX2>false</isFWAAvailableX2>
                <roleInfo>Titular</roleInfo>
                <rucDocId/>
                <rucDocType/>
            </customerInfoX2>
            <ownerContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleObjid>0</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </ownerContactInfoX2>
            <primaryContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleObjid>0</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </primaryContactInfoX2>
        </customerInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2>355030093227930</IMEIX2>
                <accessIdX2/>
                <addressIdX2>197982242</addressIdX2>
                <assignedBundleIDX2/>
                <bundleCatalogIDX2/>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Móvil</instanceNameX2>
                <lobCategoryCodeX2>WRLS</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Wireless</lobCategoryDescriptionX2>
                <msisdn>985907843</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2024-03-14T22:27:19</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>188102968</subscriberId>
                <subscriberType>2</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>97937996</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2/>
                <addressIdX2>197982242</addressIdX2>
                <assignedBundleIDX2>103291873</assignedBundleIDX2>
                <bundleCatalogIDX2>59459165</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Equipo Compartido</instanceNameX2>
                <lobCategoryCodeX2>ShEq</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Shared Equipment</lobCategoryDescriptionX2>
                <msisdn>8918685257</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2018-12-17T00:00:00</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>152066056</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>70099150</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2>1010089476</accessIdX2>
                <addressIdX2>197982242</addressIdX2>
                <assignedBundleIDX2>103291873</assignedBundleIDX2>
                <bundleCatalogIDX2>59459165</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Voz fija</instanceNameX2>
                <lobCategoryCodeX2>VOIC</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Voice</lobCategoryDescriptionX2>
                <msisdn>12581682</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2023-04-19T09:44:32</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>152066052</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>70099151</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2>1010089476</accessIdX2>
                <addressIdX2>197982242</addressIdX2>
                <assignedBundleIDX2>103291873</assignedBundleIDX2>
                <bundleCatalogIDX2>59459165</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>Banda Ancha</instanceNameX2>
                <lobCategoryCodeX2>BB</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>Internet</lobCategoryDescriptionX2>
                <msisdn>5162262446</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2023-04-19T09:46:41</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>152066055</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>70099152</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
        <subscriberInfo>
            <subscriberInfoX2>
                <IMEIX2/>
                <accessIdX2>1010089476</accessIdX2>
                <addressIdX2>197982242</addressIdX2>
                <assignedBundleIDX2>103291873</assignedBundleIDX2>
                <bundleCatalogIDX2>59459165</bundleCatalogIDX2>
                <expressIndicator>false</expressIndicator>
                <instanceNameX2>TV</instanceNameX2>
                <lobCategoryCodeX2>TV</lobCategoryCodeX2>
                <lobCategoryDescriptionX2>TV</lobCategoryDescriptionX2>
                <msisdn>5162262447</msisdn>
                <serviceIdX2/>
                <statusCode>clfy_Active</statusCode>
                <statusDate>2023-04-19T09:48:24</statusDate>
                <statusTitle>Activo</statusTitle>
                <subscriberId>152066053</subscriberId>
                <subscriberType>1</subscriberType>
            </subscriberInfoX2>
            <userContactInfoX2>
                <birthdate>1991-11-16T00:00:00</birthdate>
                <contactId>13838761</contactId>
                <contactObjid>16459705</contactObjid>
                <contactRoleName>Titular</contactRoleName>
                <contactRoleObjid>70099153</contactRoleObjid>
                <CorporateEmail/>
                <CorporatePhone/>
                <cost/>
                <creditScore>6543</creditScore>
                <customerValue>BP</customerValue>
                <email>giancarlo258@hotmail.com</email>
                <firstName>GIANCARLO PAUL</firstName>
                <genderCode>M</genderCode>
                <genderTitle>Masculino</genderTitle>
                <income/>
                <lastName>TINOCO HINOSTROZA</lastName>
                <maritalStatus>Soltero</maritalStatus>
                <middleName/>
                <NationalityCode>PER</NationalityCode>
                <NationalityTitle>Peru</NationalityTitle>
                <password/>
                <personalDataProtectionIndicator>false</personalDataProtectionIndicator>
                <phone/>
                <preferredContactMode>Móvil</preferredContactMode>
                <primaryIdTypeCode>DNI</primaryIdTypeCode>
                <primaryIdTypeTitle>DNI</primaryIdTypeTitle>
                <primaryId>47463426</primaryId>
                <satisfaction/>
                <socialIndicator>false</socialIndicator>
            </userContactInfoX2>
        </subscriberInfo>
    </Response>
</ns0:findCallerResponse>