<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    $!exchange.properties.headerCaller
    <soapenv:Body>
    $!exchange.properties.bodyCaller
    </soapenv:Body>
</soapenv:Envelope>